@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


:root {
  color: #ffffff;
  background-color: #181717;

}

body {
   font-family: "Inter", sans-serif;
  color: var(--color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

.bgImg {
  background-image: url(/assets/blurry-gradient-haikei.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 100px;
  display: flex;
}

/* .bgImg1 {
  background-image: url(/assets/blob-scatter-haikei.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  opacity: 1;
  z-index: -5;
} */